.profile_page{
    color: white;
    font-family:poppins;
    font-size: 1.2rem;
    /* height: 100vh; */
    padding-bottom: 5vh;
    padding-top: 8vh;
}

.tag{
    font-size: 2rem;
    text-decoration:underline aqua;
    text-underline-offset: 6px;
    padding: 1rem 0;
}

.profile_nav{
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

.profile_nav button{
    /* height: 3rem; */
    cursor: pointer;
}

/* create overflow-y scroll */
.listContainer{
    height: auto;
    max-width: 100vw;
    overflow: scroll;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 1rem 1rem;
    color: white;
}

.showHover{
    visibility: hidden;
    background-color: rgb(79, 211, 180);
    font-size: 0.9rem;
    font-family: poppins;
    outline: none;
    border: none;
    padding: 0.3rem 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
}

.list_items:hover .showHover{
    visibility: visible;
}

.list_items{
    min-width: 13rem;
    max-width: 13rem;
}

.smallList{
    min-width: 12rem;
    max-width: 12rem;
}


.imageContainer img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.title{
    font-size: 1.2rem;
    font-family: kanit;
    display: -webkit-box;
    white-space: pre-wrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons button:hover{
    background-color: rgb(211, 79, 79);
    color:white;
    transition: all 0.3xs ease-in-out;
}

button{
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    /* .listContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    .tag{
        font-size: 1.5rem;
    }
    .profile_page{
        font-size: 15px;
    }
    .list_items{
        min-width: 9rem;
        max-width: 9rem;
    }
    .smallList{
        min-width: 9rem;
        max-width: 9rem;
    }
    .buttons{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    .title{
        font-size: 1rem;
    }
    .showHover{
        font-size: 0.7rem;
    }
    .tag{
        font-size: 1rem;
    }
    .list_items{
        min-width: 7rem;
        max-width: 7rem;
    }
    .smallList{
        min-width: 7rem;
        max-width: 7rem;
    }
    .profile_page{
        font-size: 10px;
    }
}