.person_page{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    font-family: Montserrat;
    font-weight: normal;
    padding-bottom: 3rem;
    gap: 2rem;
    padding-top: 3rem;
}

.person_page h1,h2,h3{
    font-family: Poppins;
    font-weight: normal;
}

.person_page h3{
    text-decoration: none;
}

p{
    font-family:Montserrat;
    font-size: 1rem;
    padding: 0 1rem;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-weight: lighter;
    display: -webkit-box;
    white-space: pre-wrap;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

p:hover{
    overflow: visible;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
}

.person{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.person img{
    border-radius: 20px;
    width: 300px;
}

.info{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.info h1,h2{
    text-decoration: underline cyan 3px;
    text-underline-offset: 4px;
}

.person_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.person_info div div{
    /* font-weight: bold; */
    font-family: Poppins;
    text-decoration: underline cyan 3px;
    text-underline-offset: 4px;
    padding-bottom: 0.2rem;
}

@media screen and (max-width:1000px) {
    .person img{

        width: 250px;

    }
    
}
@media screen and (max-width:800px) {
    .person img{

        width: 200px;

    }
    
}
@media screen and (max-width:600px) {
    .person_page{
        flex-direction: column;
        justify-content: flex-start;
        font-size: 17px;
    }    
    .person{
        width: 100%;
        flex-direction:row;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }
    .info{
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .person img{
        width: 160px;
    }
    .person{
        align-items: center;
        width: 100%;
    }
    .person_info{
        width: 40%;
    }
    .person_info{
        font-size: 16px;
    }

    
}