/* Content Rows CSS */

.content {
  padding-top: 2rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.head {
  display: flex;
  width: calc(100% - 20rem);
  height: 8rem;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.listTitle {
  font-size: 2rem;
  font-weight: 600;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 7rem;
}

.icons > button {
  color: white;
}

.icons > button:hover {
  color: rgb(111, 255, 224);
  border: 1px solid rgb(111, 255, 224);
}

.icons > button > svg {
  font-size: 1.5rem;
}

.list {
  display: flex;
  align-items: center;
  width: calc(100% - 35rem);
  gap: 3rem;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

@media screen and (max-width: 450px) {
  .content {
    padding-top: 1rem;
    height: 20rem;
    gap: 1rem;
  }
  .head {
    width: calc(100% - 4rem);
  }
  .icons {
    width: 5rem;
  }
  .icons > button > svg {
    font-size: 1rem;
  }
  .listTitle {
    font-size: 1.3rem;
  }
  .list {
    width: calc(100% - 2rem);
    gap: 1rem;
  }
}

@media screen and (max-width: 700px) and (min-width: 450px) {
  .content {
    padding-top: 1.5rem;
    height: 22rem;
    gap: 1.5rem;
  }
  .head {
    width: calc(100% - 8rem);
  }
  .icons {
    width: 6rem;
  }
  .icons > button > svg {
    font-size: 1.5rem;
  }
  .listTitle {
    font-size: 1.5rem;
  }
  .list {
    width: calc(100% - 8rem);
    gap: 2rem;
  }
}


@media screen and (max-width: 1300px) and (min-width: 700px) {
  .content {
    padding-top: 1.5rem;
    height: 25rem;
    gap: 1.8rem;
  }
  .head {
    width: calc(100% - 15rem);
  }
  .icons {
    width: 8rem;
  }
  .icons > button > svg {
    font-size: 1.7rem;
  }
  .listTitle {
    font-size: 1.6rem;
  }
  .list {
    width: calc(100% - 12rem);
    gap: 2rem;
  }
}


/* Media Container CSS */

.listContent {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}


.listContent:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
}


.listContent > a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.poster-image{
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.poster-image:hover {
  transition: all 0.5s ease-in-out;
  mask: linear-gradient(to top, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
}

.blur-image {
  filter: blur(3px);
}
.blur-image:hover {
  filter: blur(3px);
}

.no-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}


.poster-name {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1.5rem;
  font-family: Outfit;
  text-decoration: none;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


@media screen and (max-width: 450px) {
  .listContent {
    height: 80%;
  }
  .poster-name {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 700px) and (min-width: 450px) {
  .listContent {
    height: 85%;
  }
}


/* Glassmorphism CSS */

.glass-morph {
  position: relative;
  border-radius: inherit;
}

.glass-morph::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-image: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255,255,255,0.06),transparent 40%
  );
  opacity: 0;
  border-radius: inherit;
  z-index: -1;

}

.glass-morph:hover::before {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}