@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Whisper&display=swap");


body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-cairo: Cairo;
  --font-outfit: Outfit;
  --font-whisper: Whisper;

  /* font sizes */
  --font-size-13xl: 20px;

  /* Colors */
  --color-black: #000;
}

.navSpace {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navContainer {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navContainer::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 96%;
  opacity: 0;
  background-image: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    #ffffff2f,transparent 40%
  );
  z-index: -1;
  border-radius: 40px;
}

.navContainer:hover::before {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}


.navbar {
  border-radius: 40px;
  background-color: #ffffff21;
  backdrop-filter: blur(20px);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-family: Outfit;
  font-size: var(--font-size-13xl);
  -webkit-backdrop-filter: blur(20px);
}

.logo_placeholder {
  padding:0 7rem;
}

.main_logo {
  position:absolute;
}

.main_logo > a {
  font-family: 'Whisper';
  font-size: 2.6rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 10px #ffffff80;
  text-decoration: none;
}


.hide {
  display: none;
}


.navbar a {
  text-decoration: none;
  color: white;
  font-family: (var(--font-outfit));
  font-size: var(--font-size-13xl);
}

.hover>a:hover {
  color: #26fdc7;
  transition: 0.2s;
}

@media screen and (max-width: 450px) {
  .navSpace {
    height: 80px;
  }
  
  .navContainer {
    padding: 0px;
  }
  .navbar {
    padding: 20px 25px;
    font-size: 10px;
  }

  .navbar a {
    font-size: 1rem;
  }

  .logo_placeholder {
    padding: 0 5rem;
  }

  .main_logo > a {
    font-size: 2rem;
  }
}







/* Loading animation CSS */


.Loader {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Loader img {
  animation: spin infinite 1s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}